svg {
    width: 100%;
}

.Canada, .Japan, .Norway, .Australia, .Denmark, .Angola, .Azerbaijan, .France, .Turkey, .Philippines, .Oman{
    transition: fill 0.3s;
}

.Canada.hovered, .Japan.hovered, .Norway.hovered, .Australia.hovered, .Denmark.hovered, .Angola.hovered, .Azerbaijan.hovered, .France.hovered, .Turkey.hovered, .Philippines.hovered, .Oman.hovered{
    fill: #000dff;
    cursor: pointer;
}
